<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <queries>
        <package android:name="org.oxycblt.auxio" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WaterMelonControl"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
    >
        <meta-data
            android:name="io.hammerhead.karooext.MANIFEST_URL"
            android:value="${karooManifestUrl}"
        />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WaterMelonControlService"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="io.hammerhead.karooext.KAROO_EXTENSION" />
            </intent-filter>
            <meta-data
                android:name="io.hammerhead.karooext.EXTENSION_INFO"
                android:resource="@xml/extension_info"
            />
        </service>

        <service
            android:name=".WaterMelonControlListener"
            android:label="WaterMelonControl Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true"
        >
            <intent-filter>
                <action
                    android:name="android.service.notification.NotificationListenerService"
                />
            </intent-filter>
        </service>

        <receiver android:name=".WidgetActionReceiver" android:exported="false">
            <intent-filter>
                <action
                    android:name="com.watermeloncontrol.widget.ACTION_PLAY_PAUSE"
                />
                <action
                    android:name="com.watermeloncontrol.widget.ACTION_NEXT"
                />
                <action
                    android:name="com.watermeloncontrol.widget.ACTION_PREV"
                />
                <action
                    android:name="com.watermeloncontrol.widget.ACTION_VOL_UP"
                />
                <action
                    android:name="com.watermeloncontrol.widget.ACTION_VOL_DOWN"
                />
                <action
                    android:name="com.watermeloncontrol.widget.ACTION_OPEN_APP"
                />
            </intent-filter>
        </receiver>

        <receiver android:name=".Karoo2MediaBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.avrcp-controller.profile.action.TRACK_EVENT" />
                <action android:name="android.bluetooth.avrcp-controller.profile.action.PLAYBACK_STATUS_CHANGED" />
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playstatechanged" />
                <action android:name="com.android.music.playbackcomplete" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
